{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "atomtest": true,
    "jasmine": true
  },
  "globals": {
    "atom": true
  },
  "extends": "eslint:recommended"
}
