'context-menu':
  'atom-workspace': [{
    label: 'Format CSS'
    command: 'cssfmt:execute'
  }]

'menu': [{
  'label': 'Packages'
  'submenu': [
    'label': 'CSSfmt'
    'submenu': [{
      label: 'Format CSS',
      command: 'cssfmt:execute'
    }]
  ]
}]
